name: Integrate

on:
  push:
    branches:
      - main

concurrency:
  cancel-in-progress: false
  group: '${{ github.workflow }}-${{ github.ref_name }}'

jobs:
  version:
    name: Version
    uses: ./.github/workflows/version.generate.yml

  release:
    name: Release
    uses: ./.github/workflows/release.create.yml
    needs:
      - version
    permissions:
      contents: write
    with:
      tag: 'v${{ needs.version.outputs.sem-ver }}'
    secrets:
      google-chat-webhook-url: '${{ secrets.GOOGLE_CHAT_WEBHOOK_URL }}'
      ssh-private-key: '${{ secrets.GH_SIGNING_SSH_PRIVATE_KEY }}'
      ssh-public-key: '${{ secrets.GH_SIGNING_SSH_PUBLIC_KEY }}'
      token: '${{ secrets.GH_RELEASE_PAT }}'
      user-email: '${{ secrets.GH_SIGNING_SSH_USER_EMAIL }}'
      user-name: '${{ secrets.GH_SIGNING_SSH_USER_NAME }}'
