name: OpenTofu Destroy

on:
  workflow_call:
    inputs:
      oidc-role-arn:
        description: The ARN of the OIDC role to assume for AWS credentials.
        required: true
        type: string
      opentofu-destroy-args:
        description: Additional arguments to pass to the tofu destroy command.
        required: false
        type: string
      opentofu-init-args:
        description: Additional arguments to pass to the tofu init command.
        required: false
        type: string
      opentofu-use-primary-backend:
        description: Specifies whether to use the primary backend during initialization.
        default: 'true'
        required: false
        type: string
      opentofu-version:
        description: The version of OpenTofu to install.
        default: 1.8.1
        required: false
        type: string
      opentofu-workspace:
        description: The workspace to select or create during the apply process.
        required: true
        type: string
      region:
        description: The AWS region for the oidc-role-arn credential.
        required: true
        type: string
      working-directory:
        description: The directory where the infrastructure code is located.
        default: ./infrastructure
        required: false
        type: string
    secrets:
      opentofu-destroy-args:
        description: Additional arguments to pass to the tofu destroy command.
        required: false
      opentofu-init-args:
        description: Additional arguments to pass to the tofu init command.
        required: false

jobs:
  destroy:
    name: Destroy
    runs-on: ubuntu-latest
    environment: '${{ inputs.environment }}'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: '${{ inputs.oidc-role-arn }}'
          aws-region: '${{ inputs.region }}'
      - name: Destroy
        uses: cupel-co/actions/.github/actions/opentofu/destroy@v0.26.0
        with:
          destroy-args: '${{ inputs.opentofu-destroy-args }} ${{ secrets.opentofu-destroy-args }}'
          init-args: '${{ inputs.opentofu-init-args }} ${{ secrets.opentofu-init-args }}'
          use-primary-backend: '${{ inputs.opentofu-use-primary-backend }}'
          version: '${{ inputs.opentofu-version }}'
          working-directory: '${{ inputs.working-directory }}'
          workspace: '${{ inputs.opentofu-workspace }}'
