name: OpenTofu Cost

on:
  workflow_call:
    inputs:
      base-ref:
        description: The name of the base ref, generally this is main, to checkout
        default: main
        required: false
        type: string
      infracost-comment-behaviour:
        description: The behaviour for the comment
        default: update
        required: false
        type: string
      infracost-comment-identifier:
        description: A unique identifier to for the comment added by this implementation
        default: comment
        required: false
        type: string
      infracost-currency:
        description: The currency to use for the report
        default: AUD
        required: false
        type: string
      infracost-template:
        description: The infracost template. Provide a path to a custom Infracost template file or leave empty to use the default template.
        required: false
        type: string
      infracost-usage:
        description: The usage file
        default: ''
        required: false
        type: string
      infracost-version:
        description: The version of Infracost to install
        default: 0.10.x
        required: false
        type: string
      infracost-workspace-prefix:
        description: The prefix for the workspace name
        required: false
        type: string
      head-ref:
        description: The name of the head ref, generally this is feature branch, to checkout
        required: true
        type: string
      opentofu-version:
        description: The version of OpenTofu to install
        default: 1.8.1
        required: false
        type: string
      pull-request-number:
        description: The PR number
        required: true
        type: number
      repository:
        description: The repository name
        required: true
        type: string
      working-directory:
        description: The directory where the infrastructure code is located.
        default: ./infrastructure
        required: false
        type: string
    secrets:
      infracost-api-key:
        description: The infracost API key
        required: true
      token:
        description: The GitHub token
        required: true

jobs:
  cost:
    name: Cost
    runs-on: ubuntu-latest
    steps:
      - name: Checkout ${{ inputs.base-ref }}
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
          ref: ${{ inputs.base-ref }}
      - name: Restore OpenTofu Modules
        uses: cupel-co/actions/.github/actions/opentofu/get@v0.26.0
        with:
          version: '${{ inputs.opentofu-version }}'
          working-directory: ${{ inputs.working-directory }}
      - name: Breakdown ${{ inputs.base-ref }}
        uses: cupel-co/actions/.github/actions/opentofu/cost/breakdown@v0.26.0
        with:
          api-key: '${{ secrets.infracost-api-key }}'
          currency: '${{ inputs.infracost-currency }}'
          output-path: ${{ runner.temp }}/base.json
          template: |
            ${{ inputs.infracost-template }}
          usage: |
            ${{ inputs.infracost-usage }}
          version: '${{ inputs.infracost-version }}'
          workspace-prefix: ${{ inputs.infracost-workspace-prefix }}
          working-directory: ${{ inputs.working-directory }}
      
      - name: Checkout ${{ inputs.head-ref }}
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
          ref: ${{ inputs.head-ref }}
      - name: Restore OpenTofu Modules
        uses: cupel-co/actions/.github/actions/opentofu/get@v0.26.0
        with:
          version: '${{ inputs.opentofu-version }}'
          working-directory: ${{ inputs.working-directory }}
      - name: Breakdown ${{ inputs.head-ref }}
        uses: cupel-co/actions/.github/actions/opentofu/cost/breakdown@v0.26.0
        with:
          api-key: '${{ secrets.infracost-api-key }}'
          currency: '${{ inputs.infracost-currency }}'
          output-path: ${{ runner.temp }}/head.json
          template: |
            ${{ inputs.infracost-template }}
          usage: |
            ${{ inputs.infracost-usage }}
          version: '${{ inputs.infracost-version }}'
          workspace-prefix: ${{ inputs.infracost-workspace-prefix }}
          working-directory: ${{ inputs.working-directory }}

      - name: Diff
        uses: cupel-co/actions/.github/actions/opentofu/cost/diff@v0.26.0
        with:
          api-key: '${{ secrets.infracost-api-key }}'
          base-breakdown-path: ${{ runner.temp }}/base.json
          currency: '${{ inputs.infracost-currency }}'
          head-breakdown-path: ${{ runner.temp }}/head.json
          output-path: ${{ runner.temp }}/diff.json
          version: '${{ inputs.infracost-version }}'
          working-directory: ${{ inputs.working-directory }}

      - name: Comment
        uses: cupel-co/actions/.github/actions/opentofu/cost/comment@v0.26.0
        with:
          api-key: '${{ secrets.infracost-api-key }}'
          behaviour: '${{ inputs.infracost-comment-behaviour }}'
          comment-identifier: ${{ inputs.infracost-comment-identifier }}
          currency: '${{ inputs.infracost-currency }}'
          path: ${{ runner.temp }}/diff.json
          pull-request-number: ${{ inputs.pull-request-number }}
          repository: '${{ inputs.repository }}'
          token: '${{ secrets.token }}'
          version: '${{ inputs.infracost-version }}'
          working-directory: ${{ inputs.working-directory }}
