name: OpenTofu Plan and Apply

on:
  workflow_call:
    inputs:
      artifact-name:
        description: The name of the artifact to upload after the plan step.
        required: true
        type: string
      environment:
        description: The target environment where the apply operation will be executed (e.g., staging, production).
        required: true
        type: string
      oidc-role-arn:
        description: The ARN of the OIDC role to assume for AWS credentials.
        required: true
        type: string
      opentofu-apply-args:
        description: Additional arguments to pass to the tofu apply command.
        required: false
        type: string
      opentofu-init-args:
        description: Additional arguments to pass to the tofu init command.
        required: false
        type: string
      opentofu-plan-args:
        description: Additional arguments to pass to the tofu plan command.
        required: false
        type: string
      opentofu-use-primary-backend:
        description: Specifies whether to use the primary backend during initialization.
        default: 'true'
        required: false
        type: string
      opentofu-version:
        description: The version of OpenTofu to install.
        default: 1.8.1
        required: false
        type: string
      opentofu-workspace:
        description: The workspace to select or create during the plan process.
        required: true
        type: string
      region:
        description: The AWS region for the oidc-role-arn credential.
        required: true
        type: string
      working-directory:
        description: The directory where the infrastructure code is located.
        default: ./infrastructure
        required: false
        type: string
    secrets:
      google-chat-webhook-url:
        description: The Webhook URL for the chat to send the message to
        required: false
      opentofu-apply-args:
        description: Additional arguments that contain secret values that need to be passed to the apply command.
        required: false
      opentofu-init-args:
        description: Additional arguments to pass to the tofu init command.
        required: false
      opentofu-plan-args:
        description: Additional arguments to pass to the tofu plan command.
        required: false

jobs:
  plan:
    name: Plan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: '${{ inputs.oidc-role-arn }}'
          aws-region: '${{ inputs.region }}'
      - name: Plan
        uses: cupel-co/actions/.github/actions/opentofu/plan@v0.26.0
        with:
          init-args: '${{ inputs.opentofu-init-args }} ${{ secrets.opentofu-init-args }}'
          plan-args: '${{ inputs.opentofu-plan-args }} ${{ secrets.opentofu-plan-args }}'
          use-primary-backend: '${{ inputs.opentofu-use-primary-backend }}'
          version: '${{ inputs.opentofu-version }}'
          working-directory: '${{ inputs.working-directory }}'
          workspace: '${{ inputs.opentofu-workspace }}'
      - name: 'Upload ${{ inputs.artifact-name }}'
        uses: cupel-co/actions/.github/actions/artifact/upload@v0.26.0
        with:
          name: '${{ inputs.artifact-name }}'
          path: '${{ inputs.working-directory }}'
          retention-days: 1
  apply:
    name: Apply
    runs-on: ubuntu-latest
    environment: '${{ inputs.environment }}'
    needs:
      - plan
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: '${{ inputs.oidc-role-arn }}'
          aws-region: '${{ inputs.region }}'
      - name: 'Download ${{ inputs.artifact-name }}'
        uses: cupel-co/actions/.github/actions/artifact/download@v0.26.0
        with:
          name: '${{ inputs.artifact-name }}'
          path: './'
      - name: 'Delete ${{ inputs.artifact-name }}'
        if: always()
        uses: cupel-co/actions/.github/actions/artifact/delete@v0.26.0
        with:
          name: '${{ inputs.artifact-name }}'
      - name: Apply
        uses: cupel-co/actions/.github/actions/opentofu/apply@v0.26.0
        with:
          apply-args: '${{ inputs.opentofu-apply-args }} ${{ secrets.opentofu-apply-args }}'
          version: '${{ inputs.opentofu-version }}'
  notify:
    name: Notify
    runs-on: ubuntu-latest
    needs:
      - apply
    steps:
      - name: Apply
        uses: cupel-co/actions/.github/actions/deployed/notify@v0.26.0
        with:
          environment: '${{ inputs.environment }}'
          google-chat-webhook-url: '${{ secrets.google-chat-webhook-url }}'
          subtitle: 'Workspace: ${{ inputs.opentofu-workspace }}'
