name: OpenTofu Plan

on:
  workflow_call:
    inputs:
      artifact-name:
        description: The name of the artifact to upload after the plan step.
        required: false
        type: string
      oidc-role-arn:
        description: The ARN of the OIDC role to assume for AWS credentials.
        required: true
        type: string
      opentofu-init-args:
        description: Additional arguments to pass to the tofu init command.
        required: false
        type: string
      opentofu-plan-args:
        description: Additional arguments to pass to the tofu plan command.
        required: false
        type: string
      opentofu-use-primary-backend:
        description: Specifies whether to use the primary backend during initialization.
        default: 'true'
        required: false
        type: string
      opentofu-version:
        description: The version of OpenTofu to install.
        default: 1.8.1
        required: false
        type: string
      opentofu-workspace:
        description: The workspace to select or create during the plan process.
        required: true
        type: string
      region:
        description: The AWS region for the oidc-role-arn credential.
        required: true
        type: string
      working-directory:
        description: The directory where the infrastructure code is located.
        default: ./infrastructure
        required: false
        type: string
    secrets:
      opentofu-init-args:
        description: Additional arguments to pass to the tofu init command.
        required: false
      opentofu-plan-args:
        description: Additional arguments to pass to the tofu plan command.
        required: false

jobs:
  plan:
    name: Plan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: '${{ inputs.oidc-role-arn }}'
          aws-region: '${{ inputs.region }}'
      - name: Plan
        uses: cupel-co/actions/.github/actions/opentofu/plan@v0.26.0
        with:
          init-args: '${{ inputs.opentofu-init-args }} ${{ secrets.opentofu-init-args }}'
          plan-args: '${{ inputs.opentofu-plan-args }} ${{ secrets.opentofu-plan-args }} -lock=false'
          use-primary-backend: '${{ inputs.opentofu-use-primary-backend }}'
          version: '${{ inputs.opentofu-version }}'
          working-directory: '${{ inputs.working-directory }}'
          workspace: '${{ inputs.opentofu-workspace }}'
      - name: 'Upload ${{ inputs.artifact-name }}'
        if: ${{ inputs.artifact-name != '' }}
        uses: cupel-co/actions/.github/actions/artifact/upload@v0.26.0
        with:
          name: '${{ inputs.artifact-name }}'
          path: '${{ inputs.working-directory }}'
          retention-days: 1
