name: Pull Request Notify

on:
  workflow_call:
    secrets:
      google-chat-webhook-url:
        description: The URL for sending messages to Google Chat
        required: true

jobs:
  notify:
    name: Notify
    runs-on: ubuntu-latest
    steps:
      - name: Google Chat
        uses: cupel-co/actions/.github/actions/pull-request/notify@v0.26.0
        with: 
          google-chat-webhook-url: '${{ secrets.google-chat-webhook-url }}'
