name: Release

on:
  workflow_call:
    inputs:
      tag:
        description: The tag value
        required: true
        type: string
    secrets:
      google-chat-webhook-url:
        description: The Webhook URL for the chat to send the message to
        required: true
      ssh-private-key:
        description: The private SSH key used for signing the Git tag.
        required: true
      ssh-public-key:
        description: The public SSH key used for signing the Git tag.
        required: true
      user-email:
        description: The email address the SSH signing key is registered to
        required: true
      user-name:
        description: The name the SSH signing key is registered to
        required: true
      token:
        description: Token for github interaction
        required: true

jobs:
  tag:
    name: Tag
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
          token: '${{ secrets.token }}'
      - name: Tag
        uses: cupel-co/actions/.github/actions/release/tag@v0.26.0
        with:
          ssh-private-key: '${{ secrets.ssh-private-key }}'
          ssh-public-key: '${{ secrets.ssh-public-key }}'
          tag: '${{ inputs.tag }}'
          user-email: '${{ secrets.user-email }}'
          user-name: '${{ secrets.user-name }}'

  github:
    name: GitHub
    runs-on: ubuntu-latest
    needs:
      - tag
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
          token: '${{ secrets.token }}'
      - name: Release
        uses: cupel-co/actions/.github/actions/release/create@v0.26.0
        with:
          tag: '${{ inputs.tag }}'
          token: '${{ secrets.token }}'

  notify:
    name: Notify
    runs-on: ubuntu-latest
    needs:
      - github
    steps:
      - name: Release
        uses: cupel-co/actions/.github/actions/release/notify@v0.26.0
        with:
          google-chat-webhook-url: '${{ secrets.google-chat-webhook-url }}'
          tag: '${{ inputs.tag }}'
